body {
  color: #491D2C;
  background-color: #C17B88;
  font-family: 'Lexend Exa', sans-serif;
  margin: 0;
  padding: 0;
}

hr {
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid #fff;
}

.navbar {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  background-color: #FFEBEB;
  height: 75px;
  z-index: 1;
  padding: 0 10px;
}


.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: #491D2C;
  cursor: pointer;
}

.logo {
  margin-left: 10px;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li:last-child {
  margin-right: 10px;
}

.nav-list li a {
  text-decoration: none;
  color: #D7A7AA;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
  color: #D7A7AA;
}

.hero-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 600px;
  object-fit: cover;
  opacity: 0.5;
  padding-top: 20px;
}

.hero-brand {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -5px;
  color: #FFEBEB;
  text-align: center;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #FFEBEB;
  text-align: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.about-text {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
  text-align: center;
}

.about-text p {
  color: black;
}

.about-img {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
}

.event-container {
  padding: 0;
  margin: 0;
  text-align: center;
}

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.event-title {
  text-align: center;
  font-size: 28px;
}

.event-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 350px;
  height: auto;
  justify-content: center;
  margin-bottom: 20px;
}

.card-text {
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  list-style: none;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 150px;
  }

  .about-text {
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
  }

  .about-img {
    padding-left: 100px;
    padding-right: 100px;
  }

  .events {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 75px;
    padding-left: 75px;
  }

  .event-card {
    width: 350px;
    margin-bottom: 0;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
  }

  hr {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #FFEBEB;
    position: absolute;
    top: 75px;
    left: 0;
    padding: 0;
  }

  .nav-list li {
    text-align: center;
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }

  .nav-list.open {
    padding: 0;
    display: flex;
  }

  .hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #FFEBEB;
    text-align: center;
  }

  .sub-hero-brand {
    display: none;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-img {
    display: none;
  }

  .about-text {
    padding: 20px;
    text-align: center;
  }
}
